//- layout.jade
doctype html
html(ng-app="netStatsApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Ellaism Network Status
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700')
    link(rel='stylesheet', href='/css/netstats.min.css')
    link(rel="icon", type="image/png", href="https://www.gravatar.com/avatar/98abb59df18a837592a8079e31fd9c47?s=16", sizes="16x16")
    link(rel="icon", type="image/png", href="https://www.gravatar.com/avatar/98abb59df18a837592a8079e31fd9c47?s=32", sizes="32x32")
    link(rel="icon", type="image/png", href="https://www.gravatar.com/avatar/98abb59df18a837592a8079e31fd9c47?s=96", sizes="96x96")
    link(rel="shortcut icon", href="https://www.gravatar.com/avatar/98abb59df18a837592a8079e31fd9c47")
  body
    block content

    script(src="/js/netstats.min.js")
